#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button{
  padding: 15px;
  margin: 15px;
  color: black;
  background-color: rgb(212, 212, 212);
  border: none;
}

button:hover{
  background-color: rgb(190, 223, 196);
}

ul{
  list-style: none;
}

li{
  background-color: rgb(38, 38, 38);
  margin: 15px;
  padding: 15px;
  max-width: 800px;
}

form.add-form{
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;

  background-color: rgb(188, 198, 200);
}

input, textarea{
  width: 80%;
  padding: 10px;
  margin: 5px;
}

h2.text-form{
  color: black;
}

form.model{
  flex-direction: column;
  align-items: center;

  max-width: 500px;
  margin: 15px auto;
  padding: 30px;

  background-color: rgb(188, 198, 200);
}